@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    Core.JS.JSFFmpegManager jsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && jsModule == null)
        {
            jsModule = new Core.JS.JSFFmpegManager(JSRuntime);
        }
    }

}